## Imports

In [2]:
import plotly
# Create an account with plotly and make a useranme and get api key
plotly.tools.set_credentials_file(username='jigull', api_key='0ENaPTtHlDwDDYZxFwHo')

In [3]:
import pandas as pd
import numpy as np
import datetime as datetime
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.graph_objs import *
%matplotlib inline

## Data

In [4]:
dow = pd.read_csv('../data/dow-data.csv')
eur = pd.read_csv('../data/eur-data.csv')
gld = pd.read_csv('../data/gold-data.csv')
bit_day = pd.read_csv('../data/bitcoin-day.csv')
bit_min = pd.read_csv('../data/bitcoin-min.csv')
final_data = pd.read_csv('../data/final-data.csv')

In [5]:
dow.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Mar 27, 2018  23,857.71  24,276.62  24,446.22  23,708.73  524.48M   -1.43%
1  Mar 26, 2018  24,202.60  23,825.74  24,232.30  23,741.22  479.54M    2.84%
2  Mar 23, 2018  23,533.20  23,995.18  24,108.47  23,509.06  482.55M   -1.77%
3  Mar 22, 2018  23,957.89  24,526.01  24,526.01  23,938.74  439.28M   -2.93%
4  Mar 21, 2018  24,682.31  24,723.49  24,977.65  24,655.40  343.23M   -0.18%

In [6]:
eur.head()

           Date   Price    Open    High     Low Change %
0  Mar 27, 2018  1.2403  1.2444  1.2478  1.2373   -0.32%
1  Mar 26, 2018  1.2443  1.2348  1.2462  1.2340    0.72%
2  Mar 25, 2018  1.2354  1.2351  1.2368  1.2351    0.01%
3  Mar 23, 2018  1.2353  1.2302  1.2375  1.2301    0.41%
4  Mar 22, 2018  1.2302  1.2338  1.2389  1.2285   -0.29%

In [7]:
gld.head()

           Date     Price      Open      High       Low     Vol. Change %
0  Mar 27, 2018  1,347.90  1,359.30  1,362.60  1,345.40  296.48K   -0.96%
1  Mar 26, 2018  1,360.90  1,350.60  1,361.80  1,349.20  192.81K    0.38%
2  Mar 23, 2018  1,355.70  1,335.50  1,356.30  1,334.70  127.20K    1.69%
3  Mar 22, 2018  1,333.20  1,338.00  1,340.80  1,330.30   70.66K    0.44%
4  Mar 21, 2018  1,327.30  1,317.00  1,342.60  1,315.50   66.74K    0.74%

In [8]:
bit_day.head()

,Date,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2014-11-30,300.0,370.0,300.00,370.0,2.628888,936.988486,370.0
1,2014-12-01,370.0,377.0,370.00,377.0,35.740091,13234.403692,377.0
2,2014-12-02,377.0,378.0,377.00,378.0,2468.772544,933193.903147,378.0
3,2014-12-03,378.0,378.0,377.01,377.1,58.191307,21979.574061,377.1
4,2014-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
bit_min.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,300.0,300.0,300.0,300.0,0.01,3.0,300.0
2,1417412100,300.0,300.0,300.0,300.0,0.01,3.0,300.0
3,1417412160,300.0,300.0,300.0,300.0,0.01,3.0,300.0
4,1417412220,300.0,300.0,300.0,300.0,0.01,3.0,300.0

## Fixing commas and floats

In [10]:
columns_with_commas = ['dow_price', 'dow_open', 
                       'dow_high', 'dow_low', 
                       'gold_price', 'gold_open', 
                       'gold_high', 'gold_low']

In [11]:
for cols in columns_with_commas:
    final_data[cols] = final_data[cols].map(lambda x:float(x.split(',')[0]+x.split(',')[1]))

## dividing by max to get a relative feel

In [12]:
final_data['dow_price_soft_max'] = (final_data.dow_price / final_data.dow_price.max())
final_data['gold_price_soft_max'] = (final_data.gold_price / final_data.gold_price.max())
final_data['eur_price_soft_max'] = (final_data.eur_price / final_data.eur_price.max())
final_data['bit_price_soft_max'] = (final_data.bit_price / final_data.bit_price.max())

In [13]:
final_data['bit_price_log'] = np.log(final_data.bit_price)

In [14]:
final_data['bit_price_log_norm'] = (final_data.bit_price_log / final_data.bit_price_log.max())

In [15]:
final_data.sort_values(by = ['Date']).transpose()

,806,805,804,803,802,801,800,799,798,797,...,9,8,7,6,5,4,3,2,1,0
Date,2015-01-12,2015-01-13,2015-01-14,2015-01-15,2015-01-16,2015-01-20,2015-01-21,2015-01-22,2015-01-23,2015-01-26,...,2018-03-13,2018-03-14,2018-03-15,2018-03-16,2018-03-19,2018-03-20,2018-03-21,2018-03-22,2018-03-23,2018-03-26
dow_price,17640.8,17613.7,17427.1,17320.7,17511.6,17515.2,17554.3,17814,17672.6,17678.7,...,25007,24758.1,24873.7,24946.5,24610.9,24727.3,24682.3,23957.9,23533.2,24202.6
dow_open,17742,17645,17609.1,17436.3,17320,17517,17510,17557.3,17812.5,17668.1,...,25257.8,25087,24837.3,24877.3,24893.7,24650.6,24723.5,24526,23995.2,23825.7
dow_high,17793.9,17923,17609.1,17517.4,17528.4,17588.7,17599.6,17840.9,17812.5,17696.4,...,25376.4,25130.1,25053.9,25031,24893.7,24803.6,24977.7,24526,24108.5,24232.3
dow_low,17571.6,17498.2,17264.9,17298,17243.5,17346.7,17396,17482.5,17667.5,17567.6,...,24947.5,24668.8,24753.3,24857.1,24453.1,24650.6,24655.4,23938.7,23509.1,23741.2
dow_vol,92.50M,99.36M,109.18M,94.52M,140.48M,119.60M,95.53M,111.98M,97.11M,87.22M,...,447.88M,356.83M,316.31M,654.24M,377.99M,342.51M,343.23M,439.28M,482.55M,479.54M
dow_change,-0.54%,-0.15%,-1.06%,-0.61%,1.10%,0.02%,0.22%,1.48%,-0.79%,0.03%,...,-0.68%,-1.00%,0.47%,0.29%,-1.35%,0.47%,-0.18%,-2.93%,-1.77%,2.84%
eur_price,1.1834,1.1772,1.1789,1.1631,1.157,1.1551,1.161,1.1366,1.1208,1.1239,...,1.239,1.2367,1.2304,1.2289,1.2335,1.2242,1.2338,1.2302,1.2353,1.2443
eur_open,1.1838,1.1833,1.1772,1.1789,1.1633,1.1606,1.1553,1.161,1.1366,1.1186,...,1.2334,1.239,1.2365,1.2305,1.2284,1.2335,1.2242,1.2338,1.2302,1.2348
eur_high,1.1871,1.186,1.1846,1.1795,1.165,1.1616,1.1677,1.1648,1.1374,1.1297,...,1.2408,1.2414,1.2384,1.2338,1.2361,1.2356,1.2351,1.2389,1.2375,1.2462
eur_low,1.1786,1.1753,1.1726,1.157,1.1462,1.154,1.1542,1.1317,1.1114,1.1099,...,1.2314,1.2347,1.2298,1.2261,1.2258,1.2239,1.2241,1.2285,1.2301,1.234
eur_change,-0.06%,-0.52%,0.14%,-1.34%,-0.52%,-0.47%,0.51%,-2.10%,-1.39%,0.28%,...,0.45%,-0.19%,-0.51%,-0.12%,0.44%,-0.75%,0.78%,-0.29%,0.41%,0.72%
gold_price,1232.7,1269.9,1234.4,1293.9,1276.9,1294.2,1293.7,1300.7,1324.1,1279.4,...,1333,1331.4,1323.5,1318,1323.4,1317.6,1327.3,1333.2,1355.7,1360.9
gold_open,1224.2,1276,1229.6,1263,1256.1,1278.9,1295.2,1293.2,1326,1289.5,...,1329.3,1332.4,1330.7,1322.3,1319.5,1322.4,1317,1338,1335.5,1350.6
gold_high,1234.4,1276,1243.8,1263,1279.7,1297.3,1303.5,1302.1,1326.2,1290.6,...,1334.6,1336.4,1333.8,1327.4,1325.2,1323.7,1342.6,1340.8,1356.3,1361.8
gold_low,1219.1,1276,1225.6,1263,1256.1,1273.8,1286.7,1283.5,1326,1279.4,...,1320,1327.6,1320.7,1315.3,1313.1,1312.4,1315.5,1330.3,1334.7,1349.2
gold_vol,0.10K,0.00K,0.02K,0.00K,0.04K,0.16K,0.08K,0.13K,0.01K,0.03K,...,40.23K,28.68K,14.09K,26.99K,49.99K,56.56K,66.74K,70.66K,127.20K,192.81K
gold_change,1.37%,3.02%,-2.80%,4.82%,-1.31%,1.43%,-0.04%,0.54%,1.80%,-3.38%,...,0.47%,-0.12%,-0.59%,-0.42%,0.41%,-0.44%,0.74%,0.44%,1.69%,0.38%
bit_open,260,260,204,150,189,225.51,224,226.32,226.32,284.73,...,9348.01,9159.4,7852.7,8188,8283.1,8482.05,9081.59,9016.1,8363.02,8445.01
bit_high,260,260,204,225.5,210,225.51,257.73,226.32,235,322.72,...,9401,9162.51,8400,8600,8757.5,9143.16,9174,9017,8966.55,8445.01
bit_low,260,199,109.87,150,189,208,216.59,226.32,215,241.43,...,8855,7666,7808.05,8080.77,8108.31,8316.99,8745,8343.03,8280.04,7854
bit_price,260,199,150,189,210,224,226.32,226.32,216,258.99,...,9159.4,7852.7,8188,8185.78,8482.04,9081.6,9016.1,8363.02,8890.7,8140
bit_vol,262,969.785,218.198,49.3414,22.196,11.959,18.1884,14.4,25.4401,9242.61,...,16225.9,34162.2,22266.4,14609.6,22502.8,18636.3,14551.8,17345.5,12560.6,17324.4
bit_cur_vol,68120,251720,40182.3,8923.74,4448.59,2634.86,4265.35,3259.01,5812.96,2.64318e+06,...,1.48313e+08,2.82716e+08,1.81592e+08,1.22254e+08,1.9041e+08,1.6444e+08,1.30238e+08,1.4927e+08,1.08685e+08,1.39664e+08
bit_weighted,260,201.6,150,189,210,224,226.32,226.32,216,258.99,...,9159.81,7844.09,8188,8185.37,8482.04,9081.6,9016.09,8363.01,8869.35,8144.31
dow_price_soft_max,0.662773,0.661753,0.654742,0.650746,0.657916,0.658054,0.659521,0.669278,0.663966,0.664196,...,0.939524,0.930172,0.934513,0.93725,0.924641,0.929013,0.927324,0.900107,0.884151,0.909301
gold_price_soft_max,0.883213,0.909866,0.884431,0.927062,0.914881,0.927277,0.926918,0.931934,0.9487,0.916673,...,0.955076,0.95393,0.94827,0.944329,0.948198,0.944042,0.950992,0.95522,0.971341,0.975066
eur_price_soft_max,0.945963,0.941007,0.942366,0.929736,0.92486,0.923341,0.928058,0.908553,0.895923,0.898401,...,0.990408,0.988569,0.983533,0.982334,0.986011,0.978577,0.986251,0.983373,0.98745,0.994644
bit_price_soft_max,0.0137997,0.0105621,0.00796136,0.0100313,0.0111459,0.011889,0.0120121,0.0120121,0.0114644,0.0137461,...,0.486142,0.416788,0.434584,0.434466,0.45019,0.482012,0.478536,0.443873,0.47188,0.432036
bit_price_log,5.56068,5.2933,5.01064,5.24175,5.34711,5.41165,5.42195,5.42195,5.37528,5.55679,...,9.12254,8.96861,9.01042,9.01015,9.04571,9.11401,9.10677,9.03157,9.09276,9.00455
bit_price_log_norm,0.564892,0.53773,0.509015,0.532493,0.543196,0.549752,0.550799,0.550799,0.546058,0.564497,...,0.92673,0.911093,0.915341,0.915313,0.918925,0.925863,0.925128,0.917489,0.923705,0.914744

## Plots

** In this project we will investigate bitcoins role in the world market**

In [16]:
df = final_data
data = [go.Scatter(x = df.Date, y = df.dow_price)]
py.iplot(data, filename = 'DOW')

## Non-normalized plots

In [17]:
dow_ = go.Scatter(
            x = df.Date,
            y = df.dow_price,
            name = "DOW",
            line = dict(color = '#17BECF'),
            opacity = 0.8)

gold_ = go.Scatter(
                x = df.Date,
                y = df.gold_price,
                name = "GOLD",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

euro_ = go.Scatter(
                x = df.Date,
                y = df.eur_price,
                name = "EURO",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

bit_ = go.Scatter(
                x = df.Date,
                y = df.bit_price,
                name = "BIT-COIN",
                line = dict(color = 'green'),
                opacity = 0.8)

data = [dow_, gold_, euro_, bit_]

layout = dict(
    title = "Markets",
    xaxis = dict(
        range = ['2015-01-12','2018-03-26'])
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "Manually Set Range")

## Normalized Plots

In [18]:
dow_norm = go.Scatter(
            x = df.Date,
            y = df.dow_price_soft_max,
            name = "DOW",
            line = dict(color = '#17BECF'),
            opacity = 0.8)

gold_norm = go.Scatter(
                x = df.Date,
                y = df.gold_price_soft_max,
                name = "GOLD",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

euro_norm = go.Scatter(
                x = df.Date,
                y = df.eur_price_soft_max,
                name = "EURO",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

bit_norm = go.Scatter(
                x = df.Date,
                y = df.bit_price_soft_max,
                name = "BIT-COIN",
                line = dict(color = 'green'),
                opacity = 0.8)

data = [dow_norm, gold_norm, euro_norm, bit_norm]

layout = dict(
    title = "Markets",
    xaxis = dict(
        range = ['2015-01-12','2018-03-26'])
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "Manually Set Range")

** We further log the bit prices and then divide by max to get a better picture of the different markets **

In [19]:
dow_norm = go.Scatter(
            x = df.Date,
            y = df.dow_price_soft_max,
            name = "DOW",
            line = dict(color = '#17BECF'),
            opacity = 0.8)

gold_norm = go.Scatter(
                x = df.Date,
                y = df.gold_price_soft_max,
                name = "GOLD",
                line = dict(color = '#17BECF'),
                opacity = 0.8)

euro_norm = go.Scatter(
                x = df.Date,
                y = df.eur_price_soft_max,
                name = "EURO",
                line = dict(color = '#7F7F7F'),
                opacity = 0.8)

bit_norm_log = go.Scatter(
                x = df.Date,
                y = df.bit_price_log_norm,
                name = "BIT-COIN",
                line = dict(color = 'green'),
                opacity = 0.8)

data = [dow_norm, gold_norm, euro_norm, bit_norm_log]

layout = dict(
    title = "Markets",
    xaxis = dict(
        range = ['2015-01-12','2018-03-26'])
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename = "Manually Set Range")

In [20]:
final_data.to_csv('../data/final-data-commaremoved.csv')

In [21]:
d3_data = df[['Date','dow_price_soft_max','bit_price_log_norm']]

In [23]:
d3_data.to_csv('../data/d3-data.csv')

In [8]:
import pandas as pd
d3_data = pd.read_csv('../data/d3-data.csv')

In [9]:
d3_data.drop('Unnamed: 0',axis=1,inplace=True)

In [10]:
d3_data

           Date  dow_price_soft_max  bit_price_log_norm
0    2018-03-26            0.909301            0.914744
1    2018-03-23            0.884151            0.923705
2    2018-03-22            0.900107            0.917489
3    2018-03-21            0.927324            0.925128
4    2018-03-20            0.929013            0.925863
5    2018-03-19            0.924641            0.918925
6    2018-03-16            0.937250            0.915313
7    2018-03-15            0.934513            0.915341
8    2018-03-14            0.930172            0.911093
9    2018-03-13            0.939524            0.926730
10   2018-03-12            0.945970            0.928801
11   2018-03-09            0.951873            0.928940
12   2018-03-08            0.935323            0.921817
13   2018-03-07            0.931797            0.935294
14   2018-03-06            0.934906            0.940839
15   2018-03-05            0.934554            0.947734
16   2018-03-02            0.921904            0.947919
17   2018-03-01            0.924569            0.945977
18   2018-02-28            0.940357            0.940733
19   2018-02-27            0.954665            0.942969
20   2018-02-26            0.965907            0.941607
21   2018-02-23            0.950906            0.936889
22   2018-02-22            0.937850            0.934372
23   2018-02-21            0.931662            0.941830
24   2018-02-20            0.937935            0.946498
25   2018-02-16            0.947502            0.942902
26   2018-02-15            0.946788            0.933213
27   2018-02-14            0.935258            0.933988
28   2018-02-13            0.925751            0.923560
29   2018-02-12            0.924279            0.920741
..          ...                 ...                 ...
777  2015-02-24            0.684126            0.556035
778  2015-02-23            0.680657            0.555924
779  2015-02-20            0.681543            0.559141
780  2015-02-19            0.675732            0.558760
781  2015-02-18            0.677388            0.555312
782  2015-02-17            0.678055            0.557830
783  2015-02-13            0.676994            0.560497
784  2015-02-12            0.675229            0.552751
785  2015-02-11            0.671087            0.547041
786  2015-02-10            0.671336            0.548337
787  2015-02-09            0.666093            0.546803
788  2015-02-06            0.669665            0.549970
789  2015-02-05            0.671942            0.546994
790  2015-02-04            0.663982            0.550866
791  2015-02-03            0.663733            0.549525
792  2015-02-02            0.652261            0.556205
793  2015-01-30            0.644894            0.553418
794  2015-01-29            0.654358            0.555958
795  2015-01-28            0.645886            0.552707
796  2015-01-27            0.653244            0.563317
797  2015-01-26            0.664196            0.564497
798  2015-01-23            0.663966            0.546058
799  2015-01-22            0.669278            0.550799
800  2015-01-21            0.659521            0.550799
801  2015-01-20            0.658054            0.549752
802  2015-01-16            0.657916            0.543196
803  2015-01-15            0.650746            0.532493
804  2015-01-14            0.654742            0.509015
805  2015-01-13            0.661753            0.537730
806  2015-01-12            0.662773            0.564892

[807 rows x 3 columns]

In [11]:
d3_data.to_csv('../data/d3-data.tsv',sep='\t')

In [12]:
d3_data

           Date  dow_price_soft_max  bit_price_log_norm
0    2018-03-26            0.909301            0.914744
1    2018-03-23            0.884151            0.923705
2    2018-03-22            0.900107            0.917489
3    2018-03-21            0.927324            0.925128
4    2018-03-20            0.929013            0.925863
5    2018-03-19            0.924641            0.918925
6    2018-03-16            0.937250            0.915313
7    2018-03-15            0.934513            0.915341
8    2018-03-14            0.930172            0.911093
9    2018-03-13            0.939524            0.926730
10   2018-03-12            0.945970            0.928801
11   2018-03-09            0.951873            0.928940
12   2018-03-08            0.935323            0.921817
13   2018-03-07            0.931797            0.935294
14   2018-03-06            0.934906            0.940839
15   2018-03-05            0.934554            0.947734
16   2018-03-02            0.921904            0.947919
17   2018-03-01            0.924569            0.945977
18   2018-02-28            0.940357            0.940733
19   2018-02-27            0.954665            0.942969
20   2018-02-26            0.965907            0.941607
21   2018-02-23            0.950906            0.936889
22   2018-02-22            0.937850            0.934372
23   2018-02-21            0.931662            0.941830
24   2018-02-20            0.937935            0.946498
25   2018-02-16            0.947502            0.942902
26   2018-02-15            0.946788            0.933213
27   2018-02-14            0.935258            0.933988
28   2018-02-13            0.925751            0.923560
29   2018-02-12            0.924279            0.920741
..          ...                 ...                 ...
777  2015-02-24            0.684126            0.556035
778  2015-02-23            0.680657            0.555924
779  2015-02-20            0.681543            0.559141
780  2015-02-19            0.675732            0.558760
781  2015-02-18            0.677388            0.555312
782  2015-02-17            0.678055            0.557830
783  2015-02-13            0.676994            0.560497
784  2015-02-12            0.675229            0.552751
785  2015-02-11            0.671087            0.547041
786  2015-02-10            0.671336            0.548337
787  2015-02-09            0.666093            0.546803
788  2015-02-06            0.669665            0.549970
789  2015-02-05            0.671942            0.546994
790  2015-02-04            0.663982            0.550866
791  2015-02-03            0.663733            0.549525
792  2015-02-02            0.652261            0.556205
793  2015-01-30            0.644894            0.553418
794  2015-01-29            0.654358            0.555958
795  2015-01-28            0.645886            0.552707
796  2015-01-27            0.653244            0.563317
797  2015-01-26            0.664196            0.564497
798  2015-01-23            0.663966            0.546058
799  2015-01-22            0.669278            0.550799
800  2015-01-21            0.659521            0.550799
801  2015-01-20            0.658054            0.549752
802  2015-01-16            0.657916            0.543196
803  2015-01-15            0.650746            0.532493
804  2015-01-14            0.654742            0.509015
805  2015-01-13            0.661753            0.537730
806  2015-01-12            0.662773            0.564892

[807 rows x 3 columns]

In [16]:
import pandas as pd
d3_data = pd.read_csv('../docs/data/d3-data.tsv',sep='\t')

In [17]:
d3_data

     Unnamed: 0        Date  dow_price_soft_max  bit_price_log_norm
0             0  2018-03-26            0.909301            0.914744
1             1  2018-03-23            0.884151            0.923705
2             2  2018-03-22            0.900107            0.917489
3             3  2018-03-21            0.927324            0.925128
4             4  2018-03-20            0.929013            0.925863
5             5  2018-03-19            0.924641            0.918925
6             6  2018-03-16            0.937250            0.915313
7             7  2018-03-15            0.934513            0.915341
8             8  2018-03-14            0.930172            0.911093
9             9  2018-03-13            0.939524            0.926730
10           10  2018-03-12            0.945970            0.928801
11           11  2018-03-09            0.951873            0.928940
12           12  2018-03-08            0.935323            0.921817
13           13  2018-03-07            0.931797            0.935294
14           14  2018-03-06            0.934906            0.940839
15           15  2018-03-05            0.934554            0.947734
16           16  2018-03-02            0.921904            0.947919
17           17  2018-03-01            0.924569            0.945977
18           18  2018-02-28            0.940357            0.940733
19           19  2018-02-27            0.954665            0.942969
20           20  2018-02-26            0.965907            0.941607
21           21  2018-02-23            0.950906            0.936889
22           22  2018-02-22            0.937850            0.934372
23           23  2018-02-21            0.931662            0.941830
24           24  2018-02-20            0.937935            0.946498
25           25  2018-02-16            0.947502            0.942902
26           26  2018-02-15            0.946788            0.933213
27           27  2018-02-14            0.935258            0.933988
28           28  2018-02-13            0.925751            0.923560
29           29  2018-02-12            0.924279            0.920741
..          ...         ...                 ...                 ...
777         777  2015-02-24            0.684126            0.556035
778         778  2015-02-23            0.680657            0.555924
779         779  2015-02-20            0.681543            0.559141
780         780  2015-02-19            0.675732            0.558760
781         781  2015-02-18            0.677388            0.555312
782         782  2015-02-17            0.678055            0.557830
783         783  2015-02-13            0.676994            0.560497
784         784  2015-02-12            0.675229            0.552751
785         785  2015-02-11            0.671087            0.547041
786         786  2015-02-10            0.671336            0.548337
787         787  2015-02-09            0.666093            0.546803
788         788  2015-02-06            0.669665            0.549970
789         789  2015-02-05            0.671942            0.546994
790         790  2015-02-04            0.663982            0.550866
791         791  2015-02-03            0.663733            0.549525
792         792  2015-02-02            0.652261            0.556205
793         793  2015-01-30            0.644894            0.553418
794         794  2015-01-29            0.654358            0.555958
795         795  2015-01-28            0.645886            0.552707
796         796  2015-01-27            0.653244            0.563317
797         797  2015-01-26            0.664196            0.564497
798         798  2015-01-23            0.663966            0.546058
799         799  2015-01-22            0.669278            0.550799
800         800  2015-01-21            0.659521            0.550799
801         801  2015-01-20            0.658054            0.549752
802         802  2015-01-16            0.657916            0.543196
803         803  2015-01-15            0.650746            0.532493
804         804  2015-01-14            0.654742            0.509015
805         805  2015-01-13            0.661753            0.537730
806         806  2015-01-12            0.662773            0.564892

[807 rows x 4 columns]

In [ ]:
d3_data.drop('Unnamed: 0',axis=1,inplace=True)

In [19]:
d3_data.head()

         Date  dow_price_soft_max  bit_price_log_norm
0  2018-03-26            0.909301            0.914744
1  2018-03-23            0.884151            0.923705
2  2018-03-22            0.900107            0.917489
3  2018-03-21            0.927324            0.925128
4  2018-03-20            0.929013            0.925863

In [20]:
d3_data.to_csv('../docs/data/d3-data.tsv',sep='\t',index=False)

In [21]:
d3_data.head()

         Date  dow_price_soft_max  bit_price_log_norm
0  2018-03-26            0.909301            0.914744
1  2018-03-23            0.884151            0.923705
2  2018-03-22            0.900107            0.917489
3  2018-03-21            0.927324            0.925128
4  2018-03-20            0.929013            0.925863

In [25]:
d3_data = d3_data.sort_values('Date')

In [26]:
d3_data.head()

           Date  dow_price_soft_max  bit_price_log_norm
806  2015-01-12            0.662773            0.564892
805  2015-01-13            0.661753            0.537730
804  2015-01-14            0.654742            0.509015
803  2015-01-15            0.650746            0.532493
802  2015-01-16            0.657916            0.543196

In [27]:
d3_data.to_csv('../docs/data/d3-data.tsv',sep='\t',index=False)